body{
    margin: 0;
    padding: 0;
}
.main-header {
    display: flex;
}
ul {
    width: 100%;
    margin: 0 0 0 450px;
    list-style-type: none;
}
.first-li{
    width: 100px;
    display: inline;
    justify-content: space-between;
    padding: 20px 15px;
    text-decoration: none;
    float: left; }

    .nav-link1 {
        color: red;
    }
.nav-link2 {
    color: blue;
}
.logo  img{
    position: absolute;
    margin-top: 5px;
}
ul{
  
    list-style-type: none; }


.ford-cars {
        margin-top: 50px;
    }


.secound-title {
    color: purple;
    font-family: 'Nunito Sans', sans-serif;
    margin-left: 90px;
    text-decoration:solid;
    
}

.secound-span {
    color: purple;
    margin-left: 90px;
    font-family: 'Nunito Sans', sans-serif;
}

.secound-div{
  margin: 90px 90px;
}

.vintage-car {
    margin-top: 100px;
} 

.footer {
    margin: 0;
    padding: 0;
}